<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
<body>
    <%- include('nav') %>
    <h2 class="resultsTitle">Showing results for "<%= search %> "</h2>
    <main class="results">
    <% for (const song of results) { %>
      <article>
        <h3><%= song.song.title %></h3>
        <p><%= song.lyrics %></p>
        <p><%= song.nextLyric %></p>
        <p><%= song.song.album %></p>
        <hr>
      </article>
    <% } %>
  </main>
</body>
</html>