<!DOCTYPE html>
<html>
  <%- include('head') %>
<body>
    <%- include('nav') %>
    <main class="song">
          <h2 class="songTitle"><%= song.title %></h2>
      <section class="songLyrics">
        <% for (const lyric of song.lyrics) { %>
          <p class="lyric"><%= lyric %></p>
        <% } %>
      </section>
      <section class="songComments">
        <h3 class="commentsTitle">Comment Section</h3>
        
        <% if(locals.currentUser){ %> 
        <form class="commentForm" method="POST">
          <input class="inputComment" required type="text" name="comment" placeholder="Share your thoughts">
          <button class="submitComment" type="submit">Comment</button>
        </form>
        <% } %>

        <div class="comments">
          <% for (const comment of comments) { %>
            <article class="comment">
              <p class="commentUsername"><%= comment.username %></p>
              <p class="commentText"><%= comment.comment %></p>
            </article>
          <% } %>
        </div>
      </section>
    </main>
</body>
</html>